.irs-table-group {
  h3 {
    margin-bottom: 2rem;
  }

  table {
    width: 100%;
    border-spacing: 0rem;
    border: 1px solid rgba($dark, 0.5);
    border-bottom: none;
    margin-bottom: 2rem;
    text-align: left;

    th {
      padding: 1rem;
      border-collapse: collapse;
      border-bottom: 1px solid rgba($dark, 0.5);

      &:nth-child(4) {
        text-transform: capitalize;
      }
    }
  }

  .table-pager {
    display: flex;
    justify-content: flex-end;
  }
}
